.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
      background-color: #f5f5f5;
    }
  }

  button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 10px;
    margin-bottom: 10px;
    &:hover {
      color: #fff;
      background-color: #2c2c2c;
    }
  }
}
