* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background: #fff;
}
