.products {
  .products__title {
    grid-column: 1 / -1;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .products__loading {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 24px;
    font-weight: 600;
  }
  .product__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 1rem;
      img {
        max-width: 100%;
        margin: 1rem;
      }
      a {
        text-decoration: none;
        color: #7a7a7a;
      }
    }
  }
}
